.robots-section, .selected-robots-section, .unselected-robots-section {
    margin: 0 auto;
}

.robots-section {
    background: $robots-section-color;
    width: 564px;
    padding: 10px;
    height: 643px;
}

.selected-robots-section {
    background: $robot-card-color;
    border: 1px solid #4765FF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    background-color: $robots-section-color;
}

.unselected-robots-section {
    background-color: $robots-section-color;
}

.highlighted-text { 
    background-color: $highlighted-color;
}

.robot-card {
    background: $robot-card-color;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    border-radius: 3px;
    margin-bottom: 10px;

    img {
        &.robot-avatar {
            background: rgba(0, 0, 0, 0.25);
        }
    }

    a, h3, span {
        font-family: $font-family;
        font-style: $font-style;
    }
    
    a {
        &.toogle-selection-robot {
            font-weight: $robot-toogle-selection-link-font-weight;
            font-size: $robot-toogle-selection-link-font-size;
            line-height: $robot-toogle-selection-link-line-height;      
            text-align: center;
            color: #009688;
            padding: 5px;
            text-decoration: none;
            cursor: pointer;
        }
    }

    h3 {
        &.robot-name {
            font-weight: $robot-name-font-weight;
            font-size: $robot-name-font-size;
            line-height: $robot-name-line-height;
            color: rgba(0, 0, 0, 0.87);
        }
    }
    span {

        &.robot-title {
            font-weight: $robot-title-font-weight;
            font-size: $robot-title-font-size;
            line-height: $robot-title-line-height;
            color: rgba(0, 0, 0, 0.543846);
        }

        &.robot-address {
            font-weight: $robot-address-font-weight;
            font-size: $robot-address-font-size;
            line-height: $robot-address-line-height;
            color: rgba(0, 0, 0, 0.543846);
        }

        &.robot-email {
            font-weight: $robot-email-font-weight;
            font-size: $robot-email-font-size;
            line-height: $robot-email-line-height;
            position: absolute;
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.54);
        }
    }
}

.robot-scrolling {
    height: 90%;
}
