$font-family: 'Roboto'; 
$font-style: normal;

$robot-name-font-size: 24px;
$robot-name-font-weight: 400;
$robot-name-line-height: 32px;

$robot-title-font-size: 14px;
$robot-title-font-weight: 700;
$robot-title-line-height: 20px;

$robot-address-font-size: 14px;
$robot-address-font-weight: 400;
$robot-address-line-height: 20px;

$robot-email-font-size: 14px;
$robot-email-font-weight: 400;
$robot-email-line-height: 16px;

$robot-toogle-selection-link-font-weight: 500;
$robot-toogle-selection-link-font-size: 14px;
$robot-toogle-selection-link-line-height: 16px; 
